# Untrack venv folder
venv/

# Untrack __pycache__ folders
**/__pycache__/

# Untrack .vscode folder
.vscode/

# Untrack app_logs file
app.log

# untrack local requirements file
requirements_local.txt