# Untrack venv folder
venv/

# Untrack processed audio files and json files
processed/

# Untrack mel cache files
mel_cache/**/*.npy

# Untrack drone_detection.egg-info
drone_detection.egg-info/

# Audio files
*.wav
*.mp3
*.flac
*.ogg
*.m4a
*.aif
*.aiff

# Video files
*.mp4
*.mov
*.avi
*.mkv
*.webm

# Large binaries
*.bin
*.zip
*.tar
*.gz

*.npy

# Untrack __pycache__ folders
**/__pycache__/

# Untrack .vscode folder
.vscode/

# Untrack app_logs file
app.log

# untrack local requirements file
requirements_local.txt

# Untrack datasets folder
model_training_and_testing/venv
model_training_and_testing/drone_project_local/mel_cache/
model_training_and_testing/drone_project_local/processed/
model_training_and_testing/drone_project_local/raw/

# Untrack Dunakeszi videos
deployment/v2/dunakeszi_data/*.wav
deployment/v2/dunakeszi_data/audit/dunakeszi_audit_ws/Dunakeszi_DRON-ADATOK/192KHZ_MULTIWAV_AUDIO_12X_BRUEL4053/*.wav
