# Untrack venv folder
venv/

# Untrack __pycache__ folders
**/__pycache__/

# Untrack .vscode folder
.vscode/

# Untrack app_logs file
app.log

# untrack local requirements file
requirements_local.txt

# Untrack datasets folder
model_training_and_testing/venv
model_training_and_testing/drone_project_local/mel_cache/
model_training_and_testing/drone_project_local/processed/
model_training_and_testing/drone_project_local/raw/